{% extends 'base/base.html'%}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"> Ventas</div>
        <div class="card-body p-5">
          <div class="row form-group align-items-end">
            <div class="col">
              <form action="/nueva_venta" method="POST">
              <label for="Producto_servicio">Producto o Servicio</label>
              <select name="Producto_servicio" class="form-control">
                {% for servicios in Servicios%}
              <option>{{servicios.Servicios}}</option>
                {% endfor %}
              </select>
           </div>
          <div class="col">
            <label for="Cantidad_Ventas">Cantidad</label>
            <input type="text" class="form-control" name="Cantidad_Ventas">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary mb-6" >Ingresar</button>
          </div>
        </form>   
        </div>      
       <div class="card">
         <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Servicios Seleccionados</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Precio Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for producto in lista%}
                  <tr>
                    <td>{{producto.Cant}}</td>
                    <td>{{producto.Serv_Ven}}</td>
                    <td>${{producto.Precio}}</td>
                    <td>${{producto.PrecioTotal}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <form action="/generar_venta" method="POST">
        <div class="form-inline align-items-center mt-4">
          <input class="form-control" type="text" name="Total_Venta" value="${{Suma_Total}}" placeholder="Total" readonly>
          <button type="submit" class="btn btn-primary mb-6" name="Generar_Cita">Generar Venta</button>
        </div>   
      </form>
          </div>
        </div>
      </div>
    </div>
    
  </div> 
  
</div>

{% endblock %}